.component {
  display: grid;
  grid-template-columns: 3rem 1fr auto;
  grid-template-areas: "left center right";
  align-items: center;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  padding-right: 16px;
}

.component > *:nth-child(1) {
  justify-self: start;
  color: white;
}

.component > *:nth-child(2) {
  justify-self: start;
  color: white;
}

.component > *:nth-child(3) {
  justify-self: end;
  color: white;
}
