.component {
  width: 20rem;
  max-width: 100svw;

  background-color: #353432;
  background-color: rgba(53, 52, 50, 0.8);
}

.rankingList {
  display: grid;

  padding-top: 8px;
  padding-bottom: 8px;
}

.shrink {
  animation-name: shrink;
  animation-duration: 0.5s;
}

@keyframes shrink {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
