.component {
  display: grid;
  grid-template-areas: "center";

  transition: height 1s;
  overflow-y: hidden;

  /* For the children to set z-index*/
  position: relative;
}

.component > * {
  grid-area: center;
}

.component > :nth-child(1) {
  z-index: 1;
}

@keyframes appear {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.9;
  }
}

.cover {
  z-index: 2;

  /* stretch up to the parent */
  align-self: stretch;
  justify-self: stretch;

  /* centering the contents */
  display: grid;
  align-items: center;
  justify-items: center;

  background-color: #20201f;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.appear {
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.opacity09 {
  opacity: 0.9;
}
